body {
    font-family: Helvetica, Arial, sans-serif;
    
}

.fb-logo {
    color: #1877f2;
    font-size: 4rem;
    font-weight: bold;
}

.card {
    border-radius: 8px;
}

input.form-control {
    height: 48px;
    font-size: 16px;
}

.btn-primary {
    background-color: #1877f2;
    border: none;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
}

.btn-success {
    background-color: #42b72a;
    border: none;
    height: 48px;
    font-size: 16px;
}
